
.appContent {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.legendContainer {
  background-color: #ebeef4;
  flex: 1;
  padding-top: 80px;
  height: calc(100vh - 80px);
  overflow-y: scroll;
}

.title{
  padding-left: 20px;
  padding-top: 20px;
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 850px) {
  .legendContainer {
    padding-top: 20px;
    height: 100%;
  }
  .appContent {
    flex-direction: column-reverse;
    gap: 50px;
  }
} 

