.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    background-color: #222435;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.buttonsContainer {
    display: flex;
    padding-right: 20px;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
  
.buttonBackend,
.buttonFrontend {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.buttonBackend {
    background-color: #2ea4ff;
}

.buttonFrontend {
    background-color: #ff973c;
}

.active{
    opacity: 0.5;
}

.logo {
    padding: 10px;
}

@media (max-width: 550px) {
    .header {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  