.segment {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 5px;
}
.segment-container {
  padding: 5px;
  border-radius: 20px;
  background-color: #f7f8fb;
}

.rings-container {
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
}

.ring-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 260px;
  padding: 2px;
  background-color: #fff;
  border-radius: 20px;
}

.ring-label {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.elements-list {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
}

.element-item {
  font-size: 18px;
  line-height: 22px;
  border-radius: 5px;
  cursor: pointer;
}

.element-item.active {
  color: #fff;
}

.default-label {
  font-size: 18px;
  color: #e6e6e6;
}
