.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background-color: #222435;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-container {
  display: flex;
  padding-right: 20px;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.header-item-back.active {
  opacity: 0.5;
}

.header-item-front.active {
  opacity: 0.5;
}

.header-item-back {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #2ea4ff;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.header-item-front {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #ff973c;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.app-content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.rad-content {
  display: flex;
  flex: 1;
  margin-top: '80px';
  flex-direction: column;
  overflow-y: scroll;
  height: 100vh;
}

@media (max-width: 850px) {
  .app-content {
    flex-direction: column-reverse;
    gap: 100px;
  }
}

@media (max-width: 550px) {
  .header {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.legend-container {
  background-color: #f1f4f9;
}
